<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,700italic' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="top"></div>
    <div class="title visible-md visible-lg visible-sm">
        <h1>
            Benjamin
            <br />
            <span>Bakle</span>
        </h1>
        <div class="avatar">
            <a href="#"><img src="~/images/Ben.jpg" class="img-responsive img-circle" /></a>

            <span class="link-strip">
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-twitter-square"></i>
                <i class="fa fa-tumblr-square"></i>
                <i class="fa fa-google-plus-square"></i>
                <i class="fa fa-github-square"></i>
                <i class="fa fa-stack-overflow"></i>

            </span>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year www.benjaminbakle.com</p>
        </footer>
    </div>
    <div class="to-top">
        <a href="#" id="scroll-top" class="scroll-click"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    </div>
    <div class="newsfeed-bg"></div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="newsfeed col-md-offset-4 col-md-8  col-sm-offset-4 col-sm-8">
                <div class="title-xs visible-xs">
                    <img src="~/images/Ben.jpg" class="img-responsive img-circle" />
                    <h1>
                        Benjamin
                        <span>Bakle</span>
                    </h1>

                </div>
                <div class="nav-container">
                    <ul class="list-inline">
                        <li><a href="#blog" id="scroll-blog" class="scroll-click">Blog</a></li>
                        <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                        <li><a href="#portfolio" id="scroll-portfolio" class="scroll-click">Portfolio</a></a></li>
                        <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                        <li><a href="#resume" id="scroll-resume" class="scroll-click">Resume</a></li>

                    </ul>
                </div>

                @RenderBody()

            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $(window).scroll(function () { // when the page is scrolled run this
                if ($(this).scrollTop() >= 100) { // greater than or equal to 100px
                    $('#scroll-top').fadeIn("slow"); // fade in
                } else { // else
                    $('#scroll-top').fadeOut("slow"); // fade out
                }
            });
            $(".scroll-click").click(function () {
                var myID = this.id;
                myID = '#' + myID.split("-")[1];
                $('html, body').animate({ scrollTop: $(myID).position().top - 50 }, 'slow');
            });
        });

    </script>
</body>


</html>
