<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url" content="http://www.benjaminbakle.com" />
    <meta property="og:title" content="Benjamin Bakle" />
    <meta property="og:description" content="FIRST, A LITTLE ABOUT ME let me clear my throat... To start off, I am a self-taught web developer. " />
    <meta property="og:image" content="http://www.benjaminbakle.com/images/screenshots/bb-screenshot.jpg" />


    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="icon" href="~/images/Ben.jpg" />
</head>
<body onload="prettyPrint();">
    <div id="top"></div>
    <div class="title visible-md visible-lg visible-sm">
        <h1>
            Benjamin
            <br />
            <span>Bakle</span>
        </h1>
        <div class="avatar">
            <a href="~/Home"><img src="~/images/Ben.jpg" class="img-responsive img-circle" /></a>
        </div>
        <div class="link-strip">
            @Html.Partial("_LinkStripPartial")
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year www.benjaminbakle.com</p>
        </footer>
    </div>

    <div class="to-top">
        <a href="#top" id="scroll-top" class="scroll-click"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    </div>
    <div class="newsfeed-bg"></div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="newsfeed col-md-offset-4 col-md-8  col-sm-offset-4 col-sm-8">
                <div class="title-xs visible-xs">
                    <a href="~/Home"><img src="~/images/Ben.jpg" class="img-responsive img-circle" /></a>
                    <h1>
                        Benjamin
                        <span>Bakle</span>
                    </h1>
                    <div class="link-strip-xs">
                        @Html.Partial("_LinkStripPartial")
                    </div>

                </div>
                <div class="nav-container">
                    <ul class="list-inline">
                        <li><a href="~/#blog" id="scroll-blog" class="scroll-click">Blog</a></li>
                        <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                        <li><a href="~/#portfolio" id="scroll-portfolio" class="scroll-click">Portfolio</a></a></li>
                        <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                        <li><a href="~/#resume" id="scroll-resume" class="scroll-click">Resume</a></li>
                        <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                        <li><a href="~/Home/About/" class="scroll-click">Interests</a></li>

                    </ul>
                </div>

                @RenderBody()

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type=“text/javascript” src="http://code.jquery.com/jquery-latest.js"></script>
    <!–[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]–>

    <script type="text/javascript">
        $(document).ready(function () {
            var hash = window.location.hash;
            window.location = "#top";

            $(window).scroll(function () { // when the page is scrolled run this
                if ($(this).scrollTop() >= 100) { // greater than or equal to 100px
                    $('#scroll-top').stop().fadeIn(1000); // fade in
                } else { // else
                    $('#scroll-top').stop().fadeOut(1000); // fade out
                }
            });

            $(".scroll-click").click(function () {
                var myID = this.id;
                myID = '#' + myID.split("-")[1];
                scrollToID(myID);
            });

            //Handles scrolling from link
            if (location.hash) {
                setTimeout(function () {
                    scrollToID(hash)
                }, 1000);
            }

            $('[data-toggle="tooltip"]').tooltip();

            

            //Embeding of tumblr post
            var limit = 5;
            var url = 'http://benbakle.tumblr.com';
            //Show loading image load.show()
            $.getJSON(url + '/api/read/json?num=' + limit + '&callback=?', function (data) {
                $.each(data.posts, function (i, posts) {
                    if (posts.type == 'video') {
                        displayVideoPost(posts);
                    } else if (posts.type == 'link') {
                        displayLinkPost(posts);
                    } else if (posts.type == 'regular') {
                        displayTextPost(posts);
                    }
                });

                $(".copy-code").click(function (e) {
                    e.preventDefault();
                    window.prompt('Press Ctrl/Cmd + C to copy text', $(this).next('pre').text());
                });
             
                //Hide loading image load.hide()
            });

            function displayTextPost(posts) {
                if (posts == null) return;
                var tID = posts['id'];
                var myURL = "http://www.benbakle.tumblr.com";
                var tURL = posts['url'];
                var tTitle = posts['regular-title'];
                var tBody = posts['regular-body'];
                var tDate = new Date(posts['date']);
                var dateStr = weekday[tDate.getDay()] + " " + month[tDate.getMonth()] + " " + tDate.getDate() + ", " + tDate.getFullYear();
                var displayString = "<div id='" + tID + "'></div><h1><a href='" + myURL + "' target='_blank' data-toggle='tooltip' title='benbakle.tumblr.com'><i class='fa fa-tumblr'></i></a><a href='" + tURL + "' target='_blank'>" + tTitle + "</a><small>" + dateStr + "</small></h1>" + tBody + "<br /><hr />" //.substring(0, 500) -- after 'regular-body' to shorten

                //splits the text and eliminates text used to parse it
                displayArray = displayString.split("</p></blockquote>");
                displayString = "";

                //replace tumblr <blockquote><p> with <pre class="prettyprint">
                for (i = 0; i < displayArray.length; i++) {
                    displayString = displayString + displayArray[i].replace("<blockquote><p>", "<a href='#' onclick='copyCode();' class='copy-code'>Copy</a><pre class='prettyprint lang-js'>") + "</pre>";
                    displayString = displayString.replace(/[‘’]/g, "'").replace(/[“”]/g, '"');
                }
                
                $('#tumblrfeed').append(displayString);

                $('#tumblrfeed h1 a:nth-of-type(2)').each(function () {
                    var tHeader = $(this).html().replace("...", "... <span style='text-transform: lowercase; font-size:.9em;'>");
                    $(this).html(tHeader);
                });

            }

            function displayLinkPost(posts) {
                if (posts == null) return;
                $('#tumblrfeed').append('<p><h1>' + posts['link-text'] + "</h1>");
                $('#tumblrfeed').append(posts['link-url']);
                $('#tumblrfeed').append(posts['link-description'] + '</p>');
            }

            function displayVideoPost(posts) {
                if (posts == null) return;
                $('#tumblrfeed').append('<p><h1>' + posts['video-caption'] + "</h1>");
                $('#tumblrfeed').append(posts['video-player-250'] + '</p>');
            }


            function getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable) { return pair[1]; }
                }
                return (false);
            }

            function scrollToID(id) {
                $('html, body').stop().animate({ scrollTop: $(id).position().top - 10 }, 500);
            }

            function copyCode() {
                window.prompt('Press ctrl/cmd + c to copy text', $(this).prev('pre').text());
            }


            var month = new Array();
            month[0] = "January";
            month[1] = "February";
            month[2] = "March";
            month[3] = "April";
            month[4] = "May";
            month[5] = "June";
            month[6] = "July";
            month[7] = "August";
            month[8] = "September";
            month[9] = "October";
            month[10] = "November";
            month[11] = "December";

            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";
        });




    </script>

</body>
</html>
