<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url" content="http://www.benjaminbakle.com" />
    <meta property="og:title" content="Benjamin Bakle" />
    <meta property="og:description" content="FIRST, A LITTLE ABOUT ME let me clear my throat... To start off, I am a self-taught web developer. " />
    <meta property="og:image" content="http://www.benjaminbakle.com/images/screenshots/bb-screenshot.jpg" />


    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="icon" href="~/images/Ben.jpg" />
</head>
<body onload="prettyPrint();">
    <div id="top"></div>
    <div class="title visible-md visible-lg visible-sm">
        <h1>
            Benjamin
            <br />
            <span>Bakle</span>
        </h1>
        <div class="avatar">
            <a href="~/Home/"><img src="~/images/Ben.jpg" class="img-responsive img-circle" /></a>
        </div>
        <div class="link-strip">
            @Html.Partial("_LinkStripPartial")
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year www.benjaminbakle.com</p>
        </footer>
    </div>

    <div class="to-top">
        <a href="#top" id="scroll-top" class="scroll-to"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    </div>
    <div class="newsfeed-bg"></div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="newsfeed col-md-offset-4 col-md-8  col-sm-offset-4 col-sm-8">
                <div class="title-xs visible-xs">
                    <a href="~/Home/#top"><img src="~/images/Ben.jpg" class="img-responsive img-circle" /></a>
                    <h1>
                        Benjamin
                        <span>Bakle</span>
                    </h1>
                    <div class="link-strip-xs">
                        @Html.Partial("_LinkStripPartial")
                    </div>

                </div>
                <div class="nav-container">
                    <ul class="list-inline">
                        <li><a href="~/#blog" class="scroll-to">Blog</a></li>
                        <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                        <li><a href="~/#portfolio" class="scroll-to">Portfolio</a></a></li>
                        <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                        <li><a href="~/#resume" class="scroll-to">Resume</a></li>
                        <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                        <li><a href="~/Home/About/" class="scroll-to">Interests</a></li>

                    </ul>
                </div>

                @RenderBody()

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type=“text/javascript” src="http://code.jquery.com/jquery-latest.js"></script>
    <!–[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]–>

    <script type="text/javascript">
        $(document).ready(function () {
            var hash = window.location.hash;
            var scrollSpeed = 1000;
            window.location = "#top";

            //Handles scrolling from link
            if (location.hash) {
                setTimeout(function () {
                    $("html, body").stop().animate({ scrollTop: $(hash).position().top - 10 }, scrollSpeed);
                    window.location = hash;
                }, 500);
            }

            displayTumblrBlog("benbakle.tumblr.com", 5, "#tumblrfeed");
            $(".scroll-to").scrollToID(scrollSpeed);
            $('[data-toggle="tooltip"]').tooltip();

            $(window).scroll(function () { // when the page is scrolled run this
                if ($(this).scrollTop() >= 100) { // greater than or equal to 100px
                    $('#scroll-top').stop().fadeIn(750); // fade in
                } else { // else
                    $('#scroll-top').stop().fadeOut(750); // fade out
                }
            });

           

        });
    </script>

</body>
</html>
